body {
    font-family: monospace;
    background-color: #283138;
    margin: 0;
    overflow: auto;
}

#controls tr td {
    
}

.numpad {
    width: 32px;
    height: 32px;
}

#game_box {
    /*
    box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.2);
    */

    margin: 20px;
    
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    
}

#stat_panel {
    position: fixed;
    top: 20px;
    left: 20px;
    width: calc(30% - 36px);
    height: calc(50% - 36px);
}

#msg_panel {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: calc(30% - 36px);
    height: calc(50% - 36px);
}

#map_panel {
    position: fixed;
    right: 20px;
    width: calc(70% - 36px);
    height: inherit;
}

#stat_panel, #msg_panel, #map_panel {
    padding: 3px;
    color: lightgray;
    background-color: #384148;
    box-shadow: 7px 7px rgba(0,0,0,0.4);
    overflow: auto;
}

#map_panel code {
    font-size: 16px;
    letter-spacing: 4px;
    line-height: .8;
    /*width: 16px;
    height: 16px;*/
    display: inline-block;
}

.in_panel {
    position: relative;
    left: 10px;
}


.hidden {
    display: none;
}

.msg_feed .redcard {
    color: tomato;
}

.msg_feed .yellowcard {
    color: khaki;
}

.msg_feed .bluecard {
    color: skyblue;
}

.msg_feed .greencard {
    color: lightgreen;
}

